/*
colour scheme:

Background:        #242329
Secondary Colour:  #333337

Text Colour:       #5f6769
Text Colour:       #464a4a
forground colour:  #505450

light text colour: #719192
each rem = 16px

*/
body
{
  font-family: 'Montserrat', sans-serif;
  color: #333337;
  margin: 0px;
  background-color: #242329;
}
h1
{
  font-family: 'Quicksand', sans-serif;
  text-shadow: 1px 2px #5f6769;

  font-size: 3.5rem;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
h2
{
  font-size: 1.8rem;
  font-weight: normal;
}
p
{

  margin: 0px;
  padding: 0px;
}

hr
{
  border-color: #5f6769;
  border-style: none;
  border-top-style: groove;
  height: 10px;
  border-width: 5px;
  width: 40%;
}
a:link
{
  font-family: 'Quicksand', sans-serif;
  color: #5f6769;
  text-decoration: none;
}
a:visited
{
  font-family: 'Quicksand', sans-serif;
  color: #464a4a;
  text-decoration: none;
}
a:hover
{
  font-family: 'Quicksand', sans-serif;
  color: #719192;
  text-decoration: none;
}
/* Form Styles */
textarea
{
  font-family: 'Quicksand', sans-serif;
  border-style: groove;
  border-width: 1px;
  border-color: #4a5150;
  background-color: #5f6769;
}

input
{
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  color: #dfcdc3;
  border-style: groove;
  border-width: 1px;
  border-color: #4a5150;
  background-color: #5f6769;
}

label
{
  font-family: 'Quicksand', sans-serif;
  color: #dfcdc3;
}
/* --------------------- Nav-Bar Classes--------------------- */
.nav-bar
{
  position: fixed;
  width:100%;
  height:40px;

  border-style:groove;
  border-width: 1px;
  border-height: 1px;
  border-color:  #1b262c;
  background-color:#333337;
}
.nav-element
{
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  color: #5f6769;
  border-color:#464a4a;
  border-right-style:ridge;
  padding-top:12px;
  padding-left: 5px;
  padding-right: 5px;
  height: 28px;
}
.nav-element:hover
{
  display: inline-block;
  background-color: #505450;
  color: #bbe1fa;
  border-right-style:ridge;
  padding-top:12px;
  padding-left: 5px;
  padding-right: 5px;
  height: 28px;
}

/* ---------- Main Web-page Panels ----------*/

.top-container
{
/*display: inline-block;*/
padding-top: 100px;
width: 100%;
top:50px;
background-color: #505450;
}

.middle-container
{
background-color: #242329;
}

.bottom-container
{
background-color: #242329;
}

/* ---------- Background image Classes ----------*/
.bg-image
{
  width: 100%;
}
.bg-container
{
  width: 100%;
  left: 0px;
  top: 0px;
}

/* ------------ Styling Classes ------------- */
.styling-light
{
  font-family: 'Exo 2', sans-serif;
  color: #719192;
  margin: 0px;
}

.styling.dark
{
  font-family: 'Montserrat', sans-serif;
  color: #333337;
  margin: 0px;

}

.styling-light-centered
{
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  color: #719192;
  margin: 0px;

}

.styling-dark-centered
{
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #333337;
  margin: 0px;

}
.styling-light-centered-shadow
{
font-family: 'Prompt', sans-serif;
  text-shadow: 1px 2px #333337;
  font-size: 1.30rem;
  text-align: center;
  color: #719192;
  margin: 0px;
}

.styling-light-shadow
{
    text-shadow: 1px 2px #505450;
    text-align: center;
    color: #719192;
    margin: 10px;
}

/* ---------- Image Styling ----------*/
.img-Circular
{
border-radius: 50%;
}
.img-Circular-center
{
width:20%;
margin:auto 40% Auto 40%;
align-self: center;
border-radius: 50%;
}
/* ---------- Form Styling Classes ---------- */
.form-data
{
  width: 50%;
  margin:auto 25% Auto 25%;
}

/* ---------- Table Styling Classes ---------- */
.tbl-center-styling-light-40
{
  width: 40%;
  margin: auto 30% auto 30%;
  border: 1px;
  border-style: double;
  font-family: 'Exo 2', sans-serif;
  color: #719192;
}

.tbl-center-styling-light-50
{
  width: 50%;
  margin: auto 25% auto 25%;

  font-family: 'Exo 2', sans-serif;
  color: #719192;
}
.tbl-center-styling-light-60
{
  width: 60%;
  margin: auto 20% auto 20%;

  font-family: 'Exo 2', sans-serif;
  color: #719192;
}
.tbl-center-styling-light
{
  width: 100%;

  font-family: 'Exo 2', sans-serif;
  color: #719192;
}

/* ---------- Horizontal Rule ----------- */
.hr-dotted-30
{
  border-color: #5f6769;
  border-style: none;
  border-top-style: dotted;
  height: 2px;
  border-width: 2px;
  width: 30%;
}
/* ---------- Horizontal Rule ----------- */
.hr-dashed-30
{
  border-color: #5f6769;
  border-style: none;
  border-top-style: dashed;
  height: 2px;
  border-width: 2px;
  width: 30%;
}
